name: Build and publish to Docker Hub
on:
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install libcurl
        run: sudo apt install -y libcurl4-openssl-dev
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: gradle/actions/setup-gradle@v5
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Check
        uses: gradle/gradle-build-action@v3
        with:
          arguments: check
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Java Container
        run: |
          ./gradlew tinyJibPublish --console=plain
